DEFAULT_BITRATE=
SECONDS_THRESHOLD=
PERCENT_THRESHOLD=
REDIS_ARRANGEMENT_TTL=
REDIS_BYTES_TTL=
REDIS_IMPRESSION_TTL=
REDIS_URL=redis://localhost
REDIS_BACKUP_URL=redis://localhost/9
S3_BUCKET=prx-dovetail
S3_PREFIX=stitch-testing
KINESIS_IMPRESSION_STREAM=
ARRANGEMENTS_DDB_ACCESS_ROLE=
ARRANGEMENTS_DDB_REGION=
ARRANGEMENTS_DDB_TABLE=
